

<% @user = User.find_by({ "id" => session["user_id"] }) %>
<% if @user != nil %>
<h2 class="mb-3">Places</h2>

<div class="mb-3">
  <a href="/places/new" class="btn btn-primary">New place</a>
</div>

<div class="mb-3">
  <ul>
    <% for place in @places %>
      <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
    <% end %>
  </ul>
</div>

<% else %>
<h2>You Don't Have Access</h2>
  You must first <a href="/login">login</a> to view your places.
<% end %>